@font-face {
  font-family: "AckiPreschool";
  src: url("./assets/fonts/acki-preschool/AckiPreschool.ttf") format("truetype");
}

html, body {
  height: 100%;
  margin: 0;
<<<<<<< HEAD
  overflow: hidden;
  /* background-image: url("./assets/images/APIbgAll.jpg"); */
  background-size: cover; /* Reds */
  background-repeat: no-repeat; /* Reds */
 
  font-family: "AckiPreschool";
}

.form-conteiner {
=======
>>>>>>> 454167ebf2fc23b1966e3b1e6dfff2d6f162e115
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/images/APIbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "AckiPreschool"; 
  background-repeat: no-repeat;
}

.form-conteiner {
  position: relative;
  width: 630px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.8);
  background: rgba(255, 255, 255, 0.01);
  z-index: 1;
}

.form-conteiner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  backdrop-filter: blur(5px);
  z-index: -1;
}

.form-content {
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-content h1{
  font-size: 4rem;
}

.inputs-conteiner{
  display: flex;
  flex-direction: column;
}

.inputs-conteiner div{
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.inputs-conteiner div input, textarea{
  width: 20rem;
  margin: 20px 0px;
  font-size: 3em;
  font-weight: bold;
  overflow: auto;
  border: none;
  border-bottom: 5px solid rgba(0, 0, 0, 0.8);
  background: transparent;
}
.inputs-conteiner div input, textarea :hover{
 cursor: text;
}

.inputs-conteiner div :focus{
 outline: none;
}

.inputs-conteiner .location-conteiner{
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0px;
}
.inputs-conteiner .location-conteiner .get-location{
  background: transparent;
  border: none;
}
.inputs-conteiner .location-conteiner .get-location{
  font-size: 4rem;
  background: transparent;
  background-image: url('./assets/icons/locationInconBTN.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
  border: none;
  width: 150px; 
  height: 150px; 
}
.inputs-conteiner .location-conteiner .get-location:hover{
 cursor: pointer;
}
.inputs-conteiner .location-conteiner .location{
  width: 240px;
  font-size: 1.5rem;
  color: black;
}

.inputs-conteiner p {
  font-size: 4rem;
}

.send {
  font-size: 4rem;
  background: transparent;
  background-image: url('./assets/icons/zentIcon.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  border: none;
  margin-top: 10px;
  width: 200px; 
  height: 100px; 
  transform: translateX(+100%);
}
.send:hover{
  cursor: pointer;
}

/* 

input, textarea {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button.send {
  padding: 10px 20px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button.send img {
  margin-right: 10px;
} */
