@font-face {
  font-family: "AckiPreschool";
  src: url("./assets/fonts/acki-preschool/AckiPreschool.ttf") format("truetype");
}

*{
  font-family: "AckiPreschool";
}
:root {
  background: #000;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
  /* background-image: url("./assets/images/APIbgAll.jpg"); */
  background-size: cover; /* Reds */
  background-repeat: no-repeat; /* Reds */
 
  font-family: "AckiPreschool";
}

.form-conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: absolute;
 
}

/* Quitar las flechas del input de tipo number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.number {
  position: absolute;
  letter-spacing: 5px;
  height: 40px;
  width: 240px;
  background-color: transparent;
  border: none;
  /* font-family: "AckiPreschool"; */
  font-size: 30px;
  color: black;
  font-weight: bold;
  word-spacing: 5%;
  vertical-align: baseline;
  /* yzma */
  /* transform: translateY(-190px) translateX(+50px); */
  /* reds */
  transform: translateY(-100px) translateX(+50px);
}
.number:hover {
  cursor: text;
}
.number:focus{
  outline: none;
}

.message {
  position: absolute;
  padding: 0px;
  height: 100px;
  width: 290px;
  background-color: transparent;
  border: none;
  font-family: "AckiPreschool";
  font-weight: bold;
  font-size: large;
  color: black;
  display: flex;
  text-wrap: wrap;
  text-overflow: clip;
  flex-wrap: wrap;
  text-align: start;
  /* yzma */
  /* transform: translateX(+60px) translateY(-63px); */
  /* reds */
  transform: translateY(+10px)  translateX(+70px);

}
.message:hover {
  cursor: text;
}
.message:focus{
  outline: none;
}

.location{
  position: absolute;
  padding: 0px;
  height: 40px;
  width: 330px;
  background-color: transparent;
  border: none;
  font-family: "AckiPreschool";
  font-weight: bold;
  color: black;
  font-size: 40px;
  font-weight: bold;
  word-spacing: 5%;
  vertical-align: baseline;
  /* yzma */
  /* transform: translateX(-240px) translateY(+50px); */
  /* reds */
  transform: translateY(+70px)  translateX(-180px);

}
.location:hover {
  cursor: text;
}
.location:focus{
  outline: none;
}

.get-location{
  background: #000;
  position: absolute;
  padding: 0px;
  height: 60px;
  width: 80px;
  background-color: transparent;
  border: none;
  font-family: "AckiPreschool";
  font-weight: bold;
  /* yzma */
  /* transform: translateX(+110px) translateY(+40px); */
  /* reds */
  transform: translateY(+40px) translateX(+65px);

}
.get-location:hover{
  cursor: pointer;
}

.send{
  position: absolute;
  padding: 0px;
  height: 80px;
  width: 150px;
  background-color: transparent;
  border: none;
  font-family: "AckiPreschool";
  font-weight: bold;
  /* yzma */
  /* transform: translateX(-20px) translateY(+190px); */
  /* reds */
  transform: translateX(-40px) translateY(+190px);

}
.send:hover{
  cursor: pointer;
}